ul{
    margin:0;
    padding:0;
}
.card {
border: 4px solid black;
border-radius: 25px;
max-width: 580px;
width: 100%;
margin: 0 auto 40px;
font-size: 40px;
}
.general-info {

    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.avatar {
border-radius: 100%;

padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.name {
font-size: 40px;
font-weight: 700;

}
.tag {
    font-size: 40px;
    color: #808080;

}
.location {
font-size: 40px;
color: #808080;
}
.stats {
list-style: none;
display: flex;
background-color: #d3d3d3;
border-top: 4px solid #808080;
text-align: center;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.statsItem {
display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.statsItem:not(:last-child) {
    border-bottom: 4px solid #808080;
}

 .statsItem:not(:last-child) {
        border-bottom: none;
        border-right: 4px solid #808080;
    }
